.hero-container {
  padding: 0px 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: white;
  /* background: url("/public/images/img-home.jpg") center center/cover no-repeat; */
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  margin-top: -80px;
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}

.hero-container > h1 {
  font-size: 6rem;
  margin: 100px 0 0;
}

.hero-container > p {
  font-size: 2.5rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.xplor {
  /* color: rgb(224, 14, 129); */
  color: rgb(255, 166, 0);
  position: relative;
}

.fa-play-circle {
  color: rgb(224, 14, 129);
  color: rgb(255, 166, 0);
  font-size: 1.5rem;
  margin-left: 5px;
}

.hero-btns {
    margin-top: 6rem;
}

.hero-btns .btn {
    margin: .5rem;
}

@media screen and (max-width: 960px) {
    .hero-container > h1 {
        font-size: 5rem;
    }

    .hero-container > p {
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px){
    .hero-container > h1 {
        font-size: 3.2rem;
    }

    .hero-container p {
        font-size: 1.5rem;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%
    }
}
